<div id="maincontent" class="row">

  <h2 class="pull-left"><%= t(".logs") %></h2>

  <% fields = HTLogPresenter::ALL_FIELDS %>
  <table id="log_entries" class="table table-striped" data-toggle="table" data-height="460"
         data-virtual-scroll="true" data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTLogPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @logs.each do |log| %>
      <tr>
        <% fields.each do |field| %>
          <td><%= log.field_value field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br />

  <div class="col my-4">
    <%= link_to t(".download_json"), ht_logs_url(format: :json), class: 'btn btn-info text-light' %>
  </div>

</div>

