<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render 'shared/approval_request_user_email' %>
    <%= image_tag(attachments["HathiTrust_logo.png"].url,
      size: "230x70", alt: "HathiTrust logo") %>
  </body>
</html>
