<div id="maincontent" class="row">
  <%= form_with(model: @registration, url: submit_registration_url, local: true, method: :get) do |form| %>

  <% service_name = t "ht_registration.values.service_name." + @registration.service_name.downcase %>
  <%= t ".confirm_html", user: @registration.applicant_email, service_name: service_name %>

  <br/><br/>
  <%= form.submit t(".confirm_registration"), class: "btn btn-ht-orange" %>

  <% end %>
</div>
