<div>
  <%= sanitize(@body) %>
</div>
<%= image_tag(attachments[Otis.config.image.hathitrust.email_signature_logo.name].url,
  size: Otis.config.image.hathitrust.email_signature_logo.size, alt: "HathiTrust logo") %>
<br/><br/>
<%= render 'shared/registration_link' %>
