<p>Hello</p>
<p>You are the institutional approver on file with HathiTrust for the
following list of users who have special access to in-copyright
volumes.<br/></p>

<p>Their access term is about to expire and they will lose special access
unless you reauthorize them. Please review the following people and
click the <strong>Approve User</strong> link for those whose access you
reauthorize for another term.<br/></p>

<p>There are various reasons that people are approved for special access
such as to manage the Accessible Text Request Service, perform copyright
review, do development, or manage quality corrections.
The table below includes the user name, the activity they were approved
for, their access term, and the access expiration date among other
information.<br/></p>

<p>If you are no longer supervising the staff listed below or if you need to add
or change staff with elevated access, please email
<a href="<%= Otis.config.support_email %>"><%= Otis.config.support_email %></a>.

<p>Sincerely,<br/>HathiTrust User Support<br/></p>
