<p>Hello</p>
<p>Your special access to in-copyright volumes in HathiTrust is scheduled to
expire on <%= @user.expires_string %>. Renewal instructions have been sent to your
approver at <%= @user.approver %>.</p>
<p>Please contact us at <a href="<%= Otis.config.support_email %>"><%= Otis.config.support_email %</a>
if there are any issues with your renewal.</p>

<p>Sincerely,<br/>HathiTrust User Support<br/></p>
