<p>Hello</p>
<p>Your special access to in-copyright volumes in HathiTrust is scheduled to
expire on <%= @user.expires_string %>. Renewal instructions have been sent to your
approver at <%= @user.approver %>.</p>
<p>Please contact us at <a href="mailto:feedback@issues.hathitrust.org">feedback@issues.hathitrust.org</a>
if there are any issues with your renewal.</p>
<p>Thank you,<br/>HathiTrust User Support<br/></p>
