<% # This header is for landing pages, i.e., registration and approval request landing pages %>
<% # Just the most basic branding %>

<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom py-1 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag Otis.config.image.hathitrust.logo.name,
            size: Otis.config.image.hathitrust.logo.size,
            alt: I18n.t("global.hathitrust_logo"),
            class: "d-inline-block" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
