<% unless flash.blank? %>
  <% flash.each do |key, value| %>
    <% alert_class = case key
                     when 'notice' then "success"
                     when 'alert' then "danger"
                     else key
                     end %>
    <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    <% end %>
  <% end %>
<% end %>
