<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <% if logged_in? %>
    <span class="navbar-brand" href="#"><%= "Logged in as #{current_user.id}" %></span>
    <% unless Rails.env.production? %>
      <a class="navbar-brand" href="<%= logout_path %>">Log Out</a>
    <% end %>
  <% else %>
    <span class="navbar-brand" href="#"><%= 'Not logged in' %></span>
  <% end %>
</nav>

