<p>Hello,</p>

<p>FIXME: rewrite of registration message per HT-1560.<br/></p>

<p>To complete your registration, please open the link at the end of this message within seven days.</p>

<p>If you encounter an error in completing your registration, please email
<a href="mailto:feedback@issues.hathitrust.org">feedback@issues.hathitrust.org</a>.

<p>Thank you,<br/>
HathiTrust User Support<br/></p>
