<p>Dear __NAME__,</p>

<p>You have been authorized with elevated access to HathiTrust.
The link below will take you to a page where you will need to register for access.
Please do not share the link with anyone else.
You must register within 7 days.
If more than 7 days have passed you will need to reply to this email to request access again.</p>

<p>After you have registered, you will receive an email confirming your registration.
You can find instructions for using the service as well as demo videos in <a href="https://bit.ly/HT_CAA">this Dropbox folder</a>.
If you have any questions, please do not hesitate to contact us at
<a mailto:"feedback@issues.hathitrust.org">feedback@issues.hathitrust.org</a>.</p>

<p>Sincerely,<br/>HathiTrust User Support<br/></p>
