<a href="<%= finalize_url(@registration.token, host: @base_url) %>"
   style="font-weight:bold; font-family:courier; font-size:120%; color:#d65d22">
  <%= finalize_url(@registration.token, host: @base_url, locale: nil) %>
</a>
