<html>
  <body>
    <form method="post">
      <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}" />
      <label for="usernameField">E-mail: </label>
      <input id="usernameField" type="text" name="username" />
      <input type="submit" name="login" value="Log In" />
    </form>
  </body>
</html>
