<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <%= sanitize(@body) %>
    </div>
    <%= render 'shared/approval_request_user_table' %>
  </body>
</html>
