@import 'firebird-common/src/scss/styles.scss';

$bootstrap-icons-font-dir: 'fonts';
@import 'bootstrap-icons/font/bootstrap-icons';

// https://infoguides.wtamu.edu/bootstrap/accessibility
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #666666
}

.navbar .navbar-text {
  color: #666666
}

#navbarSupportedContent ul > li {
    font-size:14px;
}

.bg-primary {
  background-color:#265A87
}

.label-default {
  background-color:#757575
}

.label-info {
  background-color:#20809D
}

.label-success, .btn-success {
  background-color:#3A833A
}

.label-warning {
  background-color:#A4660E
}

.label-danger, .btn-danger {
  background-color:#D4403A
}

.btn-info {
  background-color: #395B6E;
  border-color: #395B6E;
  // Additions from https://stackoverflow.com/a/25933439 to accommondate dropdown menu in info button
  &:hover, &:focus, &:active, .open>.dropdown-toggle.btn-info, &:active:focus, &:first-child:active {
    background-color: #055160; //$cyan-800
    border-color: #055160; //$cyan-800
  }
}

.btn {
  &:focus-visible {
    outline: 3px solid #086AB4 !important;
    outline-offset: 4px;
    box-shadow: 0 0 0 6px white;
    z-index: 3 !important;
    transition: unset;
  }
  &:focus {
    outline: 3px solid transparent;
  }
}

a:focus-visible {
  border-radius: 6px;
}

// For the user edit page expiration date input in "expires soon" mode
// Might be better to get away from coloring the input and making visible
// a triangle warning icon or a badge when about to expire.
// This style just makes it so tbe text isn't black on red which is awful.
// Also, setting the date to a not-expiring-soon state does not remove the red color.
input.bg-danger {
  color:#FFFFFF;
}

.registration-landing-check {
  background-color: var(--color-primary-600) !important;
  color:#FFFFFF !important;
}

.landing::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  height: 75%;
  opacity: 0.2;
  --pb: 3.75rem;
  background-image: url(/useradmin/images/elephant.svg);
  background-position: right bottom;
  //background-size: auto 36rem;
  background-repeat: no-repeat;
  z-index: -1;
}

label a {
  font-weight:400
}

code {
  color: $red-700;
}

.complete-registration-link {
  font-weight: bold;
  font-family: courier;
  font-size: 120%;
  color: #d65d22
}
