@import 'bootstrap/scss/bootstrap';

$bootstrap-icons-font-dir: '/fonts';
@import 'bootstrap-icons/font/bootstrap-icons';

// https://infoguides.wtamu.edu/bootstrap/accessibility
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #666666
}

.navbar .navbar-text {
  color: #666666
}

#navbarSupportedContent ul > li {
    font-size:14px;
}

a {
  color: #265A87
}

.text-muted {
  color:#757575
}

.bg-primary {
  background-color:#265A87
}

.label-default {
  background-color:#757575
}

.label-info {
  background-color:#20809D
}

.label-success,.btn-success {
  background-color:#3A833A
}

.label-warning {
  background-color:#A4660E
}

.label-danger, .btn-danger {
  background-color:#D4403A
}

.btn-info {
  background-color: #087990; //$cyan-700
  border-color: #087990; //$cyan-700
  // Additions from https://stackoverflow.com/a/25933439 to accommondate dropdown menu in info button
  &:hover, &:focus, &:active, .open>.dropdown-toggle.btn-info, &:active:focus, &:first-child:active {
    background-color: #055160; //$cyan-800
    border-color: #055160; //$cyan-800
  }
}

.btn-warning {
  background-color:#f0ad4e
}

label a {
  font-weight:400
}

.complete-registration-link {
  font-weight: bold;
  font-family: courier;
  font-size: 120%;
  color: #d65d22
}
