// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Force some space at the bottom

body {
  padding-bottom: 4rem;
}

.expiring-soon {
  @extend .alert-danger;
  @extend .btn-general;
  margin-left: 1rem;
}

a.btn-general {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border: 0;
  line-height: 1.2;
}

.btn-cancel {
  @extend .btn-danger;
  margin-top: 1rem;
}

.btn-expire {
  @extend .btn-danger;
  background-color: #FAA;
  color: #000;
  padding: .2rem;

  a {
    @extend .btn-general;
  }
}
